@layer utilities {
  .brand {
    background-color: rgb(var(--brand));
  }

  .primary {
    color: rgb(var(--primary));
  }
  .secondary {
    color: rgb(var(--secondary));
  }
  .bg {
    background-color: rgb(var(--bg));
  }
  .surface {
    background-color: rgb(var(--surface));
  }
  .icon {
    color: rgb(var(--icon));
  }
  .text-primary {
    color: rgb(var(--text-primary));
  }
  .text-secondary {
    color: rgb(var(--text-secondary));
  }
  .text-body {
    color: rgb(var(--text-body));
  }
  .text-muted {
    color: rgb(var(--text-muted));
  }
  .text-disabled {
    color: rgb(var(--text-disabled));
  }
  .divider {
    border-color: rgb(var(--divider));
  }
  .input-field {
    background-color: rgb(var(--input-field));
  }
  .inputBorder {
    border-color: rgb(var(--input-border));
  }
  .input-text {
    color: rgb(var(--input-text));
  }
  .input-placeholder {
    color: rgb(var(--input-placeholder));
  }
  .btn-bg {
    background-color: rgb(var(--btn-bg));
  }
  .btn-text {
    color: rgb(var(--btn-text));
  }
  .btn-border {
    border-color: rgb(var(--btn-border));
  }
  .btn-hover:hover {
    background-color: rgb(var(--btn-hover));
  }
  .btn-active:active {
    background-color: rgb(var(--btn-active));
  }
  .card-bg {
    background-color: rgb(var(--card-bg));
  }
  .card-border {
    border-color: rgb(var(--card-border));
  }
  .card-hover:hover {
    background-color: rgb(var(--card-hover));
  }
  .accent {
    color: rgb(var(--accent));
  }
  .danger {
    color: rgb(var(--danger));
  }
  .warning {
    color: rgb(var(--warning));
  }
  .error {
    color: rgb(var(--error));
  }
  .success {
    color: rgb(var(--success));
  }
  .pending {
    color: rgb(var(--pending));
  }
  .progress {
    color: rgb(var(--progress));
  }
}
